<h1>Signup!</h1>

<%= form_for @user do |f| %>

  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
<p>
  <%= link_to "Already have account? click here to Login",  login_path %>
</p>
